<h1><%= @group.name %></h1>
<% @proceedings.each do |proceeding| %>
    <%= proceeding.name %>
    <%= proceeding.amount %>
<% end %>
<%= link_to 'Add a transaction', new_user_group_proceeding_url(current_user.id, @group.id), class: 'add-button' %>